
/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Cambiado a 100% para que el body ocupe toda la pantalla */
    margin: 0;
}

/* Estilos para los contenedores de formularios en general */
form {
    width: 90%; 
    padding: 20px;
    background-color: #45a0497d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

/* Estilos para los formularios dentro de divs específicos */
#div_nutricionista, #div_pacientes, #div_recetas, #div_citas ,#div_calendario  form{
    width: 60%; 
}

/* Estilos para el título principal */
h1 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Estilos para las etiquetas de los campos de formulario */
label {
    font-size: 1.1em;
    margin-bottom: 8px;
    color: #333;
}

/* Estilos para los campos de entrada */
input[type="text"], input[type="password"], input[type="email"], input[type="date"],
input[type="time"],input[type="file"], select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

input[type="submit"] {
    margin-top: 30px; /* Espacio entre el campo de archivo y el botón de envío */
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1em;
    color: #777;
}

/* Estilos para tablas */
table {
    width: 100%; /* Ahora ocupa el 100% del body que es 70% de la pantalla */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
#resultado_receta {
    margin : auto;
    background-color: #45a0497d;
    color : white;
    border-radius: 6px;
    width: 60%;
    text-align: center;
}

h5{
font-size: 20px;
width: 60%;
color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1em;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Agrupar los divs específicos en un mismo estilo */
#div_nutricionista, #div_pacientes, #div_recetas, #div_citas ,#div_calendario {
    background-color: #45a0496f;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
