/* Fondo general claro para toda la página */
body {
    background-color: #4C7305;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#encabezado {
    background-color: #4C7305; /* verde intenso */
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#encabezado img {
    height: 120%;
    width: auto;
    position: absolute;
    left: 20px;
}

.enlaces {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 150px;
    font-size: 20px;
}

.enlaces a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.enlaces a:hover {
    color: #A5D615; /* verde claro del logo */
}

.botones {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 30px;
}

button {
    background: linear-gradient(135deg, #A5D615, #4C7305);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: #fff;
    color: #4C7305;
    border: 2px solid #4C7305;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
