#elementos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 55%;
    
}

#imagen img{
    width: 100%;
    opacity: 0.3; /* Opacidad del 30% */
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    background-color: white; /* Asegura que el fondo sea blanco */  
}

/* Estilos generales del cuerpo */
#login {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    
}

/* Estilos para el título principal */
#formulario_login h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #4CAF50;
}

/* Estilos para el contenedor del formulario */
#formulario_login {
    width: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Estilos para las etiquetas de los campos de formulario */
label {
    font-size: 1.1em;
    margin-bottom: 8px;
    color: #333;
}

/* Estilos para los campos de entrada */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    font-size: 1em;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}